.iron {
    background-image: url("../../assets/ironman.jpg");
    .catch-phrase {
        font-family: "Roboto", sans-serif;
        font-size: 100px;
    }

    .job {
        font-family: "Open Sans", sans-serif;
        text-transform: uppercase;
    }
}
