<div class="iron parallax">
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <div class="catch-phrase">
                <div>Hello</div>
                <div>World.</div>
            </div>
            <div class="job">
                <div>Benjamin Auzanneau</div>
                <div>Full Stack Engineer | JavaScript Hero 🌠</div>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col bg-yellow">
            1 of 3
        </div>
        <div class="col-6 bg-red">
            2 of 3
        </div>
        <div class="col bg-green">
            3 of 3
        </div>
    </div>
</div>