<div class="splash parallax">
  <div class="catch-job" (konami)="launchConfetti()">
    <div class="catch-phrase">
      <div>Hello</div>
      <div>World.</div>
    </div>
    <div class="job">
      <div>Benjamin Auzanneau</div>
      <div>Full Stack Engineer | JavaScript Hero 🌠</div>
    </div>
  </div>

  <div class="social">
    <a href="https://twitter.com/necraidan" target="_blank">
      <i class="fab fa-4x fa-twitter-square"></i>
    </a>

    <a href="https://github.com/necraidan" target="_blank">
      <i class="fab fa-4x fa-github-square"></i>
    </a>

    <a href="https://linkedin.com/in/bauzanneau" target="_blank">
      <i class="fab fa-4x fa-linkedin"></i>
    </a>

    <!--<a href="/src/assets/cv_benjamin_auzanneau.pdf" target="_self">
            <i class="fab fa-4x fa-file-pdf"></i>
        </a>-->
  </div>
</div>
