.splash {
    // background-image: url('../../assets/back.jpg');
    background-image: url('../../assets/necraidan-by-noemie-chaudet-min.jpg');
    background-color: #383838;

    display: grid;
    grid-template-areas: 'catch-job social';
    align-items: center;
    justify-items: center;

    &.inverted {
        filter: invert(100%);
    }
    .catch-job {
        grid-area: catch-job;

        .catch-phrase {
            font-family: 'Roboto', sans-serif;
            font-size: 100px;
            line-height: 95px;
        }

        .job {
            font-family: 'Open Sans', sans-serif;
            text-transform: uppercase;
        }
    }

    .social {
        grid-area: social;

        display: grid;
        grid-gap: 50px;
        a {
            color: ghostwhite;
            &:hover {
                color: rgb(196, 196, 197);
            }
        }
    }
}

@media (max-width: 500px) {
    .splash {
        grid-template-areas: 'catch-job' 'social';

        .catch-job {
            display: grid;
            grid-template-columns: 1fr;

            .catch-phrase {
                font-size: 75px;
                line-height: 65px;
            }

            .job {
                font-size: 14px;
                padding-top: 12px;
            }
        }

        .social {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

@media (min-width: 500px) {
    .splash {
        grid-template-columns: 1fr 85px;

        .social {
            grid-template-columns: 1fr;
        }
    }
}
